# Ignore node_modules

node_modules/

# Ignore build directories

web-build/
dist/

# Ignore Expo specific files

.expo/

# Ignore npm debug logs

npm-debug.*

# Ignore specific file extensions

*.jks
*.p8
*.p12
*.key
*.mobileprovision
.cache

# Ignore files with specific prefixes/suffixes

*.orig.*

# Ignore Firebase specific files

.firebase/
firebaseConfig.js
firebase.rules
firebase.indexes.json

# macOS specific files to ignore

.DS_Store
