node_modules/
web-build/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
firebaseConfig.js
getGpt3Completion.js
index.js
firebase,rules
firebase.indexes.json

# macOS
.DS_Store
